@model MFAViewModel

<p>
    Please enter the code below in  your authenticator application.
</p>
<p>
    @Model.Token
</p>

<form asp-controller="Identity" asp-action="MFASetup" method="post">
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        Enter Code: <input type="text" class="form-control" asp-for="Code" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>